{% extends 'base.html.twig' %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <ul>
        <li><a href="{{ path('formBillet') }}">Précédent</a></li>
    </ul>


        {{ form_start(form) }}
        {{ form_row(form.users) }}
        {{ form_end(form) }}


    {% block inner_body %}{% endblock %}

{% endblock %}